@tailwind base;
@tailwind components;
@tailwind utilities

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
  cursor: url("cursor.png"), auto;
    height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}


@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #15202b;
    color: #fff;
  }
}

::selection {
  background: #ffb7b7;
}

@media (min-width: 768px) {
  .md\:max-w-container-large {
    max-width: 612px;
  }
}

@media (max-width: 768px) {
  .max-w-container-small {
    max-width: 92%;
  }
}

.mt-16 {
  margin-top: 8rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.text-secondary {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  opacity: 0.7;
}

.bread {
  font-size: 36px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.bio {
  margin-top: 16px;
}

.text-link {
  text-decoration-line: underline;
  opacity: 0.6;
  transition: 0.2s all ease;
}

.text-link:hover {
  opacity: 1;
  transition: 0.2s all ease;
  // cursor: url("cursor-hover.png"), auto;
}

.social-links {
  margin-top: 80px;
  a {
    margin-right: 2rem;
  }
}

.social-title{
    margin-bottom: 8px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgb(56, 56, 56);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}