.side-nav{
    background: rgba(255, 255, 255, 0.2);
    width: fit-content;
    border-radius: 4px;
    // padding: 0px 16px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -24px;
    text-align: center;
    transform: rotate(90deg);
}

.icons{
    padding: 4px 8px;
    transition: .3s ease;
    color: white;

    &:hover{
        transform: scale(1.2);
        transform: translatex(-12px);
        transition: .3s ease;
    }
  }

  .house{
    transition: .3s ease;
    color: white;
    transform: rotate(-90deg);
    &:hover{
        transform: translatex(-12px) rotate(-90deg);
        transition: .3s ease;
    }
  }